.menu-toggle{display:none;}

@media only screen and (max-width: 1400px) {
.logo img{ height:129px;}
.header-bg{padding:21px 0 24px;}
.slider-text{padding:23px;}
.content-section{padding:64px 0 74px;}
.home-banner{margin-top:-63px;}
.breadcrumbs{padding-bottom:31px;}
body .container{width:1079px;}
nav ul li a{padding:25px 36.7px;}
.footer-middle .col-footer{ margin-right: 57px;}
.contact-us .con-left{width:50%;}
.contact-us .con-right{width:43%;}
.default-page-template .col-sm-2{width:50%;}
.default-page-template{margin-bottom: 32px;}
.default-2{margin-top:0;}
.event-detail.event2 ul li{margin-bottom:50px;}
.news-letter .news-lette-left .col-sm-2{width:61%;}
.news-letter .news-lette-left .col-sm-3{width:31%;}
.our-team ul li{margin:0 71px 71px 0;}
.our-team{margin-bottom:20px;}
.product ul li {margin: 0 15px 15px 0; width: 49%;}
.product ul li .prd-text{width:73%;}
.case_studies ul li{margin:0 71px 71px 0;}
.archived-webinars ul li{ margin-right: 65px;}
.videos .videos-list .col-sm-2{margin-right: 64px;}
.videos .videos-list-2 ul li{margin:0 71px 51px 0;}
}

@media only screen and (max-width: 1200px) {
body .container{width:904px;}
nav ul li a{padding:17px 14.6%;}
.logo img {height: 101px;}
.btn{padding:14px 15px;}
.btn i{padding-left:18px;}
h1{line-height: 34px; font-size: 41px;}
.content-section {padding: 38px 0 42px;}
h2{font-size:31px; line-height:36px;}
h2 span{font-size:30px;}
.home-about .col-ms{ margin-right: 20px;}
.date input{width: 70%;}
.home-latest ul li{width:30.99%;}
.home-company .col-ms{width:47%;}
.footer-middle .col-footer{margin-right:47px;}
footer .copyright ul li{padding-right: 24px;}
footer .copyright{padding:25px 0 18px;}
.home-vidoes .col-right{padding-top:0;}
h3{font-size:26px; line-height:34px;}
.resp-tabs-list li{padding:9px 16px !important;}
.prd-detail .col-sm h3{font-size: 34px;}
nav ul ul{ top: 68px;}
.slick-prev{left: -24px;}
.resp-tabs-container{margin-bottom: 34px; margin-top:-1px; padding:5px 19px 20px;}
.careers-detail .job-title ul li{font-size: 21px;}
.contact-us .con-left{width:100%; margin-bottom:20px;}
.contact-us .con-right{width:100%;}
.default-page-template .col-sm-3{width:47%;}
.event-detail.event2 ul li{margin-right:108px;}
.news-letter .news-lette-left .col-sm-3{width:36%;}
.our-team ul li{margin:0 60px 60px 0;}
footer .copyright p span{margin-right: 9px;}
footer .copyright ul li { padding-right: 16px; margin-top:3px;}
.product ul li .prd-text {width:69%;}
.case_studies ul li {margin: 0 60px 60px 0;}
.case_studies ul li .hover{padding-top: 47px;}
.archived-webinars ul li {margin-right:54px;}
.archived-webinars ul li .btn-sm-2 {padding: 10px 14px;}
.webinars {margin-bottom: 34px; margin-top: 32px;  padding-bottom: 29px;}
.videos .videos-list .col-sm-2 {margin-right: 54px;}
.videos .videos-list {margin: 38px 0 44px; padding-bottom: 47px;}
.videos .videos-list-2 ul li {margin: 0 60px 51px 0;}
}

@media only screen and (max-width: 991px) {
.right-pull{width:70%;}
.nav-top ul li a{font-size:14px;}
nav ul li a{font-size:18px; padding:17px 16.5%;}
.banner-details .container{width:68%;}
.slider-text p{font-size:19px; line-height:22px;}
.home-about .col-ms { margin-right: 9px;}
.date .button{width:85px;}
.date input{font-size:13px;}
.home-latest ul li {width: 30.66%;}
.home-company .col-ms{margin-right: 35px;  padding-right: 31px;}
.home-company .col-ms span{font-size: 20px; line-height: 32px;}
.footer-middle .col-footer {margin-right:41px;}
.footer-middle{padding:30px 0 0;}
footer .copyright p span{font-size:14px; margin-right:10px;}
footer .copyright ul li a{font-size: 14px;}
footer .copyright ul li {padding-right: 12px;}
body .container {width:784px;}
.banner-details{margin-top:117px;}
.nav-top ul li{margin: 0 15px;}
.prd-detail .col-sm h3{font-size: 30px;}
.resp-tabs-list li{font-size:14px;}
.btn-sm-2{padding:10px 18px;}
.careers-text-2 .btn{padding:10px 18px;}
.event-detail .col-sm-2{width:100%; margin-bottom:20px;}
.event-detail .col-sm-3{width:100%;}
.event-detail.event2 ul li {margin-right: 94px;}
.news .col-sm-2{width:54%;}
.news-letter .news-lette-left .col-sm-2{width:100%; margin-bottom:0;}
.news-letter .news-lette-left .col-sm-3{width:100%;}
.subscribe{padding:21px 19px;}
.our-team ul li{margin:0 52px 52px 0;}
.product ul li { margin: 0 14px 14px 0;}
.product ul li .prd-text {width:63%;}
.case_studies ul li { margin: 0 52px 52px 0;}
.case_studies ul{margin:22px 0 0;}
.webinars .col-sm-2,.webinars .col-sm-3{width:100%;}
.webinars .col-sm-2{text-align:center;}
.webinars .col-sm-2 img{margin:auto;}
.archived-webinars ul li {margin-right: 47px;}
.archived-webinars ul li .btn,.archived-webinars ul li .btn-sm-2 {font-size: 21px; margin-right: 10px;  padding: 5px 9px;}
.archived-webinars ul li h4{font-size: 17px;  line-height: 22px;}
.videos .videos-list .col-sm-2 {margin-right:47px;}
.videos .videos-list-2 ul li {margin: 0 52px 42px 0;}
}



@media only screen and (max-width: 850px) {
.logo img{height:93px;}
nav ul li a {padding:17px 13.9%;}
.nav-top ul li{margin: 0 11px;}
.nav-top ul li::after{right: -18px;}
.btn{font-size: 15px;}
h1 {font-size: 35px;line-height: 27px;}
.slider-text p {font-size: 17px; line-height: 17px;}
.slider-text {padding: 11px;}
.btn i{padding-top:6px;}
.home-about .col-ms{width:47.33%;}
.home-about .col-ms.col-ms-3 {margin-right: 0; width: 100%; padding-top:20px;}
.date input {width: 90%;}
.home-latest ul li{ padding:10px;}
.home-vidoes .col-right{width:100%; padding-top:20px;}
.home-vidoes .col-left{width:100%; padding-bottom: 56%;}
.home-company .col-ms span {font-size:18px; line-height:28px;}
footer h3{font-size:31px;}
.footer-middle .col-footer{margin-right:0; text-align:center; width:100%; margin-bottom:20px;}
.footer-middle {padding:60px 0 30px;}
.footer-middle .col-footer ul{text-align:left; display: inline-block; float: none; width:33%; vertical-align:top;}
.footer-middle .col-footer address .phone-b i{float:none;}
footer .copyright p{width:100%; text-align:center;}
footer .copyright p span{float:none; display:inline-block;}
footer .copyright ul li{float:none; display:inline-block;}
footer .copyright ul{width:100%;}
.social{width:100%; text-align:center;}
.social a{font-size: 19px; width:23px; height:23px; display:inline-block; float:none; line-height:23px; margin-right:5px;}
body .container{width:724px;}
.prd-detail .col-sm{ width:100%; margin-bottom:20px;}
.prd-detail .col-sm:last-child{width:100%; margin-bottom:0; float:left;}
.prd-detail .col-sm .product-slick { margin: 20px auto 0; width: 61%;}
#product-tab h2::after{display:none;}
#product-tab h2{ font-family: "Roboto",sans-serif; border-top:#CCC solid 1px;}
.features-box{padding:10px;}
.prd-detail .col-sm h2 {margin-bottom:16px;}
.careers-detail .job-title ul{width:54%;}
.default-page-template .col-sm-2{width:100%; margin-bottom:20px;}
.default-page-template .col-sm-3{width:100%; text-align:center;}
.careers-text-2 h2{font-size: 26px;}
.event-detail.event2 ul li {margin-right: 86px;}
.news .col-sm-3,.news .col-sm-2{width:100%;}
.our-team ul li {margin: 0 48px 48px 0;}
.our-team{margin-top: 30px;}
nav ul ul {top: 63px;}
nav ul li ul li a{padding:10px 20px;}
.case_studies ul li {margin: 0 48px 48px 0;}
.archived-webinars ul li {margin-right: 19px; width: 31.5%;}
.case_studies ul li .hover { padding-top: 37px;}
.videos .videos-list .col-sm-2 {margin-right:43px;}
.videos .videos-list-2 ul li { margin: 0 30px 30px 0; width: 30.5%;}
}


@media only screen and (max-width:767px) {
.menu-toggle{width:100%; float:left; text-align:center; background:url(../images/header-bg2.png) no-repeat; display:block;  font-family: 'impactregular'; font-size:30px; line-height:35px; color:#fff; padding:17px 0; text-transform:uppercase; background-size:cover;}	
nav{display:none;}	
.right-pull{display:none;}
.header-bg{text-align:center;}
.logo {display: inline-block; float: none; margin: auto;}
.home-about .col-ms{margin-right:0; width:100%; margin-bottom:20px;}
.banner-details .container{width:100%; padding:0;}
.slider-text{border-radius:0; box-shadow:none; padding:24px 21px;}
body .container{width:100%; padding:0 10px;}
.home-banner {margin-top:1px;}
.banner-details {margin-top:32px;}
nav{ background:#0189ae !important;}
nav ul li a{padding:6px 20px;}
nav ul li{width:100%; border-bottom:#FFF solid 1px;}
nav ul li:last-child{border-bottom:none;}
nav ul li::after{display:none;}
nav .container{padding:0;}
nav ul ul{position:relative; width:100%; top:0;}
nav ul li ul li a{font-size:16px;}
.home-latest ul li{ border-right:none; width:100%; padding:10px;}
.home-latest .slick-dots{padding-top:10px;}
.home-latest .slick-dots li{ width:auto; float:left; margin-right:10px; padding:0;}
.home-company .col-ms{ margin-right:0; padding-right:0; width:100%; border-bottom:#e7e7e7 solid 1px; margin-bottom:27px; float:left; border-right:none;}
.home-company .col-ms span{ padding-bottom:37px;}
.home-company .col-ms :last-child{border-bottom:none;}
h1 {line-height: 38px;}
.date input {width: 89%;}
.date input{border: #bababa solid 1px;  border-radius:8px; width:100%;}
.date .button{margin-left:0; margin-top:10px;}
.btn-sm-2{ padding: 11px 19px;  font-size: 18px;}
.btn-sm-2 i{padding-left: 19px; padding-top:8px;}
.event-detail.event2 ul li {margin-right: 74px; margin-bottom: 25px;}
.news .col-sm-3 .date .button {margin-left: -35px; margin-top: 0;}
.our-team ul li {margin: 0 40px 40px 0;}
.product ul li {margin: 0 12px 12px 0;}
.product ul li .prd-text {width: 56%;}
.case_studies ul li {margin: 0 41px 41px 0;}
.archived-webinars ul li{width:100%; margin-right:0; margin-bottom:20px; text-align:center;}
.archived-webinars .boder-top{text-align:left;}
.videos .videos-list .col-sm-2 {margin-right: 37px;}
.videos .videos-list-2 ul li{margin:0 26px 26px 0;}
}

@media only screen and (max-width:640px) {
.footer-middle .col-footer ul{width:48%;}
.prd-detail .col-sm .product-slick{width:80%;}
.breadcrumbs li a{font-size: 14px;}
.careers-detail .job-title ul{width:100%; margin: 23px 0 16px;}
.careers-detail .job-title .btn-sm-2 {float: left;  margin-bottom: 20px;}
.careers-detail .careers-text ul{width:100%;}
.contact-us .con-right .btn-sm-2 i {padding-left: 4px;}
.contact-us .con-right .btn-sm-2 {font-size:15px;  padding:8px 7px;}
.careers-text-2 .btn {padding: 10px 12px; margin-left: 8px;}
.careers-text-2 .btn-sm-2 {font-size: 18px; padding:8px 14px;}
.default-2{padding:15px;}
.event-detail.event2 ul li{width:100%; margin-right:0;}
.our-team ul li{width:100%; margin:0 0 20px 0;}
.product ul li{width:100%; margin-right:0;}
.case_studies ul li {margin: 0 0 21px 0; width:100%;}
.case_studies ul li img{width:100%;}
.case_studies ul li .hover {padding-top: 23%;}
.videos .videos-list .col-sm-2{width:100%; margin-right:0; margin-bottom:20px;}
.videos .videos-list-2 ul li{width:100%; margin-right:0;}
}

@media only screen and (max-width:480px) {
h2 {font-size: 23px;  line-height: 27px;}
.careers-detail .job-title ul li {font-size:17px; margin-bottom:4px;}
footer h3 {font-size: 24px;}
.product ul li img{float:none; margin:0 auto;}
.product ul li{text-align:center;}
.product ul li .prd-text {width: 100%; margin-top:10px;}
}



















