﻿
#product-tab{ clear:both; float:left; width:100%;}

ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px; 
}
ul.resp-tabs-list{ font-size:0px;}
.resp-tabs-list li {
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    padding: 9px 32px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    border:solid 1px #b6bbc2; font-weight:400; color:#56606c; text-transform:uppercase; text-align:center; background:#e6e6e6;
}


.resp-tabs-container {
    padding:45px 45px 20px;
    clear: left;
	float:left; width:100%; border:solid 1px #d9dcdf;
    border-top:solid 4px #037aa1; margin-top:-4px;
    margin-bottom:103px; background:#f8f7f7;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    
}

.resp-tabs-list li.resp-tab-active {
	color:#ce2a20;
	border-bottom: none !important; border:#e6eaef solid 1px; padding:14px 36px;  border-radius:4px; background:#FFF;
}
.resp-tabs-list li:hover{color:#032650;} 
.resp-tabs-list li.resp-tab-active {border-bottom: none !important; border:#037aa1 solid 1px; padding:14px 36px;  border-radius:4px; background:#037aa1; color:#fff;}


.resp-content-active, .resp-accordion-active {
    display: block;
}




h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding:0 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding:0 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border: 1px solid #c1c1c1;
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top:8px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #037aa1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #037aa1;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB !important;
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1 !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 850px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
	
.resp-tabs-container {
    border: medium none;
    padding: 0 !important;
}
.product-tab1 .left-resp,.product-tab1 .right-resp{width:100%; padding:20px;}
}
