@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
@font-face {
    font-family: 'impactregular';
    src: url('../fonts/impact-webfont.woff2') format('woff2'), url('../fonts/impact-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 
font-family: 'Roboto', sans-serif;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
*/

// variables and mixins
@import "layout/variable";
@import "layout/mixins";
@import "layout/media";
@import "layout/buttons";
@import "layout/product_detail";
// Layout
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
//Dependencies
@import "font-awesome";
html,
body {
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

a,
a:hover,
a:focus,
img,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
img {
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

a {
    color: #000;
    text-decoration: none
}

a:hover {
    text-decoration: none;
}

img,
fieldset {
    border: none;
    vertical-align: top;
    max-width: 100%
}

:focus {
    outline: none
}

ul,
ol {
    padding-left: 15px;
}

body {
    background: $white;
    font-family: $roboto;
    margin: 0;
    font-size: 16px;
    color: $hex-gray;
    font-weight: 400;
    .container {
        width: 1170px;
        margin: auto;
    }
}

.home-banner {
    float: left;
    width: 100%;
    position: relative;
    margin-top: -84px;
    position: relative;
    z-index: 1;
    @extend %border;
    img {
        width: 100%;
    }
    .slick-prev,
    .slick-next {
        display: none !important;
    }
}

.slick-prev {
    background: url(../images/slick-prev.png) no-repeat left;
    font-size: 0;
    position: absolute;
    left: -33px;
    top: 50%;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.slick-next {
    background: url(../images/slick-next.png) no-repeat left;
    font-size: 0;
    position: absolute;
    right: -33px;
    top: 50%;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.banner-details {
    @extend %absolute;
    bottom: 12px; top:inherit;
    .container {
        width: 791px;
    }
}

.slider-text {
    width: 100%;
    float: left;
    box-shadow: 1px 2px 11px 4px #07769e;
    @include border-radius(10px 10px 0 0);
    background: rgba(0, 167, 193, 0.8);
    padding: $padd;
    text-align: center;
    p {
        font-family: $roboto;
        color: $white;
        font-size: 22px;
        line-height: 25px;
        font-weight: 800;
        padding: 10px 0 18px;
        display: block;
        margin-bottom: 0;
    }
}

h1 {
    font-size: $font-size-h1;
    color: $white;
    font-family: $oswald;
    line-height: $line-height;
    font-weight: 800;
}

h2 {
    font-size: $font-size-h1;
    color: $light-black;
    font-family: $impact;
    line-height: $line-height;
    text-transform: uppercase;
    position: relative;
    span {
        display: block;
        font-size: 35px;
    }
    &:after {
        @extend %clearfix;
       
background: rgb(38,185,206); 
background: -moz-linear-gradient(left, rgba(38,185,206,1) 0%, rgba(39,147,183,1) 100%); 
background: -webkit-linear-gradient(left, rgba(38,185,206,1) 0%,rgba(39,147,183,1) 100%); 
background: linear-gradient(to right, rgba(38,185,206,1) 0%,rgba(39,147,183,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26b9ce', endColorstr='#2793b7',GradientType=1 );
        width: 124px;
        height: 5px;
        margin-top: 20px;
    }
}

h3 {
    font-size: $font-size-30;
    font-family: $impact;
    line-height: $line-height-36;
    color: $white;
    text-transform: uppercase;
}

h4 {
    font-size: $font-size-22;
    font-family: $impact;
    line-height: $line-height-28;
    color: $light-black;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    line-height: 28px;
    margin-bottom: 40px;
}

.content-section {
    clear: both;
    padding: 81px 0 100px;
    overflow: hidden
}

.home-about {
    position: relative;
    @extend %border;
}

.home-about .col-ms {
    width: 33.33%;
    float: left;
    margin-right: 37px;
    p {
        padding: 25px 0 0;
    }
    small {
        font-family: $roboto;
        color: $black;
        line-height: $line-height-28;
        font-style: italic;
        font-size: $font-size-16;
        padding: $padd-btm-15 0;
        display: block;
    }
}

.col-ms-2 {
    a {
        font-family: $roboto;
        font-size: 16px;
        line-height: $line-height-28;
        color: $dark-blue;
        text-decoration: none;
        &:hover {
            color: $black;
        }
    }
}

.one-time .slick-prev,
.slick-next {
    display: none !important;
}

.slick-dots {
    margin-top: 20px;
}

.slick-dots li {
    position: relative;
    display: block;
    height: 16px;
    width: 16px;
    cursor: pointer;
    font-size: 0;
    display: inline-block;
    margin: 0 7px 0 0;
}

.slick-dots li button {
    border: 0;
    background: none;
    display: block;
    height: 16px;
    width: 16px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    cursor: pointer;
    outline: none;
    border: 2px solid #c0c0c0;
    border-radius: 50%;
    background: none;
}

.slick-dots li.slick-active {
    border-color: #008bb9;
}

.slick-dots li button:focus {
    outline: none;
}

.slick-dots li.slick-active button {
    background: #008bb9;
    border-color: #008bb9;
}

.col-ms.col-ms-3 {
    float: right;
    margin-right: 0;
    width: 27%;
    padding-top: 50px;
    font-size: $font-size-h3;
    h3 {
        color: $dark-blue;
        margin-bottom: 20px;
    }
    .date {
        width: 100%;
        float: left;
        margin-bottom:30px;
        samp {
            margin-bottom: 0;
            font-family: $roboto;
            text-transform: uppercase;
            color: $light-black;
            font-style: inherit;
            font-size: 20px;
            margin-bottom: 10px;
            display: block;
        }
    }
}

.home-latest {
    ul {
        list-style: none;
        padding-left: 0;
        padding-top: 48px;
        li {
            width: 31.51%;
            display: inline-block;
            border-right: solid 1px #e7e7e7;
            padding-right: 28px;
            margin-right: 28px;
            padding-bottom: 36px;
            img {
                box-shadow: 1px 2px 11px 4px #cbcbcb;
                border-radius: 10px;
                padding: 1px;
                margin-bottom: 20px;
            }
            span {
                color: $dark-blue;
                font-family: 'impactregular';
                text-transform: uppercase;
                font-size: 22px;
            }
            p {
                font-weight: 300;
                margin-bottom: 4px;
            }
            &:last-child {
                margin-right: 0;
                padding-right: 0;
                border-right: none;
            }
        }
     .btn-sm{font-size:16px;

     }   
    }
}

*::-moz-placeholder {
    opacity: 1;
}

.home-vidoes {
    background: $light-black;
    .col-left {
        width: 50%;
        float: left;
        position: relative;
        padding-bottom: 30%;
        iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
    .col-right {
        width: 46%;
        float: right;
        padding-top:25px;
        p {
            color: $white;
            font-size: 16px;
            line-height: $line-height-28;
            font-weight: 300;
            padding: $padding-btm 0;
        }
    }
    .btn {
        background: $dark-blue;
        &:hover {
            background: $light-black;
        }
    }
}

.home-company {
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
    .col-ms {
        width: 47.3%;
        float: left;
        border-right: solid 1px #e7e7e7;
        padding-right: 56px;
        margin-right: 56px;
        text-align: center;
        padding-bottom: 30px;
        img {
            display: inline-block;
            margin: 0 auto 30px;
        }
        span {
            font-family: $impact;
            display: block;
            font-size: $font-size-24;
            color: $black;
            line-height: $line-height-36;
            small {
                color: $dark-blue;
                font-size: $font-size-24;
            }
        }
        &:last-child {
            border-right: none;
            margin-right: 0;
            padding-right: 0;
        }
    }
}

.social {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    a {
        float: left;
        vertical-align: middle;
        margin-right: 18px;
        color: #596072;
        text-align: center;
        font-size: 30px;
        background: #FFF;
        border-radius: 3px;
        width: 34px;
        height:34px;
        line-height: 34px;
        i {
            color: $dark-blue;
          &:hover{color:#fff;}  
        }
        &:hover {
            background: #000;
            color: #fff;
        }
    }
}

.date input {
    width: 76%;
    display: block;
    border: #bababa solid 1px;
    padding: 0 12px;
    font-size: 15px;
    float: left;
    border-radius: 8px 0 0 8px;
    height: 50px;
    border-right: none;
    text-transform: uppercase;
}

.date .button {
    background: #23231f;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    border: none;
    padding: 0 12px;
    width: 93px;
    border: none;
    height: 50px;
    border-radius: 8px;
    margin-left: -19px;
    font-family: $impact;
    font-size: 18px;
}



@for $i from 1 through 6{
	h#{$i}{
		font-size:(30-$i*2)#{px}
	}
}




@mixin grid($name,$value){
 @for $i from 1 through $value{
    .col-#{$name}-#{$value}{
        width:100%/$value *$i;
    }
 }

}

@mixin grid($name,$value){
    @for $i from 1 through $value{
      .icon-#{$name}{

      }  
    }
}




@include grid(md,12);



$social : (facebook: #333, twitter: #333, linkedin: #333);



@each $icon, $icon-color in $social {
.#{$icon}{
        background: #{$icon-color};
        
    }

}

$shapes: triangle, square, circle;

@each $shape in $shapes {
  .icon-#{$shape} {
    background-image: url('/images/#{$shape}.jpg');
  }
}
$staring-element: 10;
$end-elements: 15;
@for $i from $staring-element through $end-elements {
  div:nth-child(#{$i}) {
     background: rgb($i, $i, $i);
  }
}


