.btn{background:$light-black;
	color:$white;
	border-radius:4px;
	padding:21px 26px;
	font-family: 'impactregular';
	text-transform:uppercase;
	font-size:22px;
	display:inline-block;
	i{float:right;
   padding-left: 49px;
   padding-top: 9px;
	}
	&:hover{background:#21558f;}
}

.btn-sm{
	color:$dark-blue;
	font-family: 'impactregular';
	text-transform:uppercase;
	font-size:22px;
	display:inline-block;
	margin-top:10px;
	i{float:right;
   padding-left:17px;
   padding-top: 5px;

	}
	&:hover{color:$black;}
}


.btn-sm2{ background:$light-black;
   padding:15px 20px 15px 10px;
   color: $white;
   border-radius:8px;
   width:100%;
   float:left;
   font-size:18px;
   font-weight: 700;
   i{float:left;
   	margin:1px 7px 0 0;
   	font-size:24px;
   &:last-child{float: right;
  margin-right:0;
   }
   }
   &:hover{ background:$dark-blue;}

   }