.footer-middle {
    width: 100%;
    float: left;
    padding: $padd-btm-60 0;
    text-align: left;
    background-size: cover !important;
    .col-footer {
        float: left;
        margin-right: 62px;
        width: 29.8%;
        &:last-child {
            margin-right: 0;
        }
        h3 {
            color: $white;
            display: block;
            padding-bottom: 8px;
            font-size: $font-size-30;
        }
        ul {
            float: left;
            list-style: outside none none;
            margin: 0;
            padding: 0;
            width: 50%;
            li {
                display: block;
                padding-bottom: 14px;
                a {
                    font-size: $font-size-15;
                    color: $white;
                    text-transform: uppercase;
                    &:hover {
                        color: $black;
                    }
                }
            }
        }
        p {
            color: $white;
            margin-bottom: 0;
        }
        address {
            font-style: inherit;
            .phone-b {
                width: 100%;
                float: left;
                color: $white;
                font-size: 14px;
                font-weight: 600;
                padding-top: 11px;
                i {
                    float: left;
                    padding-right: 8px;
                }
                a {
                    color: $white;
                    padding-left: 5px;
                    &:hover {
                        color: $black;
                    }
                }
            }
        }
        .newsletter {
            width: 100%;
            float: left;
            margin-top: 20px;
            span {
                color: $white;
                font-size: $font-size-16;
                display: block;
                font-weight: 800;
            }
            .email-end {
                width: 100%;
                float: left;
                background: $dark-blue2;
                padding: 10px;
                margin-top: 10px;
                i {
                    float: right;
                    color: $white;
                    font-size: 30px;
                }
            }
            input {
                border: none;
                float: left;
                background: $dark-blue2;
                color: $white;
                font-size: 18px;
                padding: 5px 0;
            }
        }
    }
}

footer {
    text-align: center;
    width: 100%;
    float: left;
    h3 {
        color: $dark-blue;
        font-size: $font-size-h2;
        span {
            font-size: 20px;
            vertical-align: top;
            line-height: 17px;
            
        }
    }
    .copyright {
        width: 100%;
        float: left;
        padding: 40px 0;
        color: $light-black;
        p {
            float: left;
            margin-bottom: 0;
            span {
                float: left;
                margin-right: 20px;
                font-size: $font-size-16;
            }
        }
        ul {
            float: right;
            padding-left: 0;
            list-style: none;
            li {
                float: left;
                padding-right: 42px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: $light-black;
                    font-size: $font-size-16;
                    font-weight: 400;
                    &:hover {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
