header {
    position: relative;
    z-index: 999;
}

.header-bg {
    background: url("../images/header-bg.png") no-repeat center;
    width: 100%;
    float: left;
    padding: $padd-top 0 29px;
    background-size: cover;
}

.logo {
    float: left;
}

.right-pull {
    width: 612px;
    float: right;
}

.nav-top {
    float: left;
    width: 100%;
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 16px;
            position: relative;
            a {
                color: $light-black;
                text-decoration: none;
                text-transform: uppercase;
                font-family: $roboto;
                font-weight: 600;
                font-size: 16px;
                &:hover {
                    color: $light-blue;
                }
            }
            &:after {
                content: "";
                position: absolute;
                right: -21px;
                top: 4px;
                width: 4px;
                height: 13px;
                background: url("../images/nev-top.png") no-repeat right;
            }
        }
        & li:last-child {
            margin-right: 0;
        }
        & li:last-child:after {
            display: none;
        }
    }
}

.search-from {
    float: right;
    margin-right: 164px;
    margin-top: 22px;
    form {
        border: solid 1px #7cbace;
        border-radius: 8px;
        padding: 2px 10px;
        width: 242px;
        float: left;
        input {
            border: none;
            padding: 10px 0;
            font-family: $roboto;
            font-weight: 800;
            color: d5d5d5;
            font-size: 16px;
            float: left;
            width: 85%;
        }
        i {
            float: right;
            margin-top: 7px;
            font-size: 25px;
            color: #037aa1;
        }
    }
}

.home nav{background: rgba(0, 167, 193, 0.5);}


nav {
    float: left;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2796b8+0,26b4ca+50,2799ba+100 */
background: rgb(39,150,184); /* Old browsers */
background: -moz-linear-gradient(left, rgba(39,150,184,1) 0%, rgba(38,180,202,1) 50%, rgba(39,153,186,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(39,150,184,1) 0%,rgba(38,180,202,1) 50%,rgba(39,153,186,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(39,150,184,1) 0%,rgba(38,180,202,1) 50%,rgba(39,153,186,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2796b8', endColorstr='#2799ba',GradientType=1 ); /* IE6-9 */
    ul {
        padding: 0;
        font-size: 0;
        li {
            display: inline-block;
            position: relative;
            a {
                color: $white;
                font-size: 22px;
                font-family: 'impactregular';
                text-transform: uppercase;
                padding:25px 44.2px;
                display: block;
            }
            a.active {
                background: $color-blue;
            }
            &:after {
                background: $white;
                content: "";
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                width: 1px;
            }
            &:hover {
                background: $color-blue;
            }
            .active {
                background: $color-blue;
            }
        }
        & li:last-child {
            border-right: 1px solid #fff;
        }
        ul {
            list-style: none;
            margin: 0;
            display: none;
            padding: 0;
            position: absolute;
            left: 0;
            top: 84px;
            width: 288px;
            border: solid 1px #fff;
        }
    }
}

nav ul li:hover ul {
    display: block;
    background: #037aa1;
    padding: 0;
    text-align: left;
}

nav ul li ul li:after {
    display: none;
}

nav ul li ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

nav ul li ul li {
    border-bottom: #fff solid 1px;
    width: 100%;
    background: #037aa1;
    padding: 0;
    float: left;
    &:after {
        display: none;
    }
    &:last-child {
        border-right: none;
        border-bottom: none;
    }
    nav ul li ul li:hover {
        background: #1eaec8;
    }
    nav ul li ul li a {
        padding: 10px 20;
        width: 100%;
        background: none !important;
        cursor: pointer;
        display: block;
    }
}

nav ul li ul a:hover {
    text-decoration: none;
}
