%clearfix {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

%transition {
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
}

%appearent {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

%absolute{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
}

%border{
&:after{content:"";
background:#ccc;
width:100%;
height:12px;
position:absolute;
left:0;
right:0;
bottom:0;
}
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}