.breadcrumbs {
    float: left;
    list-style: outside none none;
    padding-left: 0;
    width: 100%;
    padding-bottom: 60px;
    li {
        float: left;
        margin-right: 10px;
        a {
            font-size: $font-size-16;
            color: $hex-color;
            i {
                padding: 2px 4px;
            }
            &:hover {
                color: $dark-blue2;
            }
            &.active {
                color: $dark-blue2;
            }
        }
    }
}

.prd-detail .col-sm {
    width: 50%;
    float: left;
    position: relative;
    &:last-child {
        width: 41%;
        float: right;
        a {
            font-family: $roboto;
            font-size: 16px;
            line-height: $line-height-28;
            color: $dark-blue;
            text-decoration: none;
            &:hover {
                color: $black;
            }
        }
    }
    P {
        text-align: justify;
    }
    h2 {
        margin-bottom: 44px;
    }
    h3 {
        color: $dark-blue2;
        font-size: $font-size-h3;
    }
    i {
        float: left;
        padding-left: 0;
        padding-right: 11px;
        margin-top: 2px;
    }
    small {
        font-family: $roboto;
        color: $black;
        line-height: $line-height-28;
        font-style: italic;
        font-size: $font-size-16;
        padding: $padd-btm-15 0;
        display: block;
    }
    .slick-next {
        display: block !important;
    }
    .slick-dots {
        display: none !important;
    }
    .product-slick {
        margin-top: 40px;
        .slick-list {
            border-radius: 10px;
            box-shadow: 1px 2px 11px 4px #cbcbcb;
            margin-bottom: 20px;
            padding: 0px;
            img {
                margin: 2px;
            }
        }
    }
    .date {
        width: 302px;
        float: left;
        margin-top: 20px;
        a {
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
        samp {
            margin-bottom: 0;
            font-family: $roboto;
            color: $light-black;
            font-style: inherit;
            font-size: 16px;
            margin-bottom: 50px;
            display: block;
        }
        i:nth-child(2n) {
            float: right;
        }
    }
}

.tabs-box {
    float: left;
    width: 100%;
    position: relative;
}

.features-box {
    width: 100%;
    float: left;
    padding-top: 20px;
    margin-bottom: 20px;
    h4 {
        margin-bottom: 20px;
    }
    p {
        padding-bottom: 10px;
    }
    ul {
        color: $dark-blue;
        li {
            padding-left: 15px;
            margin-bottom: 7px;
            span {
                color: #737373;
            }
        }
    }
}
