// Color
$white: #fff !default;
$off-white: #f3f3f3 !default;
$dark-gray: #6f6e6e !default;
$darkest-gray: #ddd !default;
$light-gray: #eee !default;
$orange-color: #f38128 !default;
$color-blue:#21558f !default;
$black: #000 !default;
$light-black: #23231f !default;
$light-blue:#037aa1 !default;
$dark-blue:#008bb9 !default;
$dark-blue2:#016181 !default;
$hex-gray:#737373 !default;
$hex-color:#8d8d8d !default;

// Font Family
$roboto: "Roboto",
sans-serif !default;
$oswald: "Fira Sans Condensed",
sans-serif !default;
$impact: "impactregular",
sans-serif !default;

// $col-count: 12;
// @function col-pct($columns) {
//     @return unquote((100/$col-count)*$columns+"%");
// }
// .col-6 {
//     width: col-pct(6);
// }
// .col-4 {
//     width: col-pct(4);
// }
// .col-2 {
//     width: col-pct(2);
// }
// Fonts
// $base-size: 15px !default;
//
$font-size-base: 15px !default;
$font-size-h1: 45px !default;
$font-size-h2: 40px !default;
$font-size-h3: 36px !default;
$font-size-30: 30px !default;
$font-size-24: 24px !default;
$font-size-22: 22px !default;
$font-size-16: 16px !default;
$font-size-15: 15px !default;



// line-height
$line-height: 50px !default;
$line-height-28: 28px !default;
$line-height-36: 36px !default;




// Padding
$padd-btm-5: 5px !default;
$padding-btm: 10px !default;
$padd-btm-15: 15px !default;
$padd-btm-20: 20px !default;
$padd-btm-25: 25px !default;
$padd-btm-30: 30px !default;
$padd-btm-40: 40px !default;
$padd-btm-50: 50px !default;
$padd-btm-60: 60px !default;
$padd-top-5: 5px !default;
$padd-top: 42px !default;
$padd: 41px !default;


// Margin
$mar-right: 10px !default;
$mar-top: 29px !default;



